.carousel-slider-container {
  direction: ltr;
}
.slider-page-single {
  position: relative;
  cursor: pointer;
}
.slider-page-single img {
}
.slider-page-single p {
  position: absolute;
  bottom: 60px;
  left: calc(50% - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.carousel-root {
  position: relative !important;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
  /* width: auto !important; */
}
/* .carousel .thumbs {
  display: flex !important;
  flex-direction: column !important;
} */

/* * {sm: 640px} */
@media screen and (width<= 576px) {
  .carousel {
    position: absolute;
    /* width: auto !important; */
  }
}
/* {md:768px} */
@media screen and (576px<width<= 768px) {
  .carousel {
    position: absolute;
    /* width: auto !important; */
  }
}
/* {lg:1024px} */
@media screen and (768px<width<= 1124px) {
  .carousel {
    position: absolute;
    /* width: auto !important; */
  }
}
/* {xl:1280px} */
@media screen and (width >= 1124px) {
  .carousel {
    position: absolute;
    /* width: auto !important; */
  }
}
/* {2xl:1536px} */
